.add {
  &__form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "Courgette", cursive;
    font-size: 30px;
    text-align: center;
  }

  &__input {
    margin-bottom: 15px;
    border: 2px solid#052f11;
    padding: 3px;

    &::placeholder {
      color: #323232c1;
      font-size: 14px;
      font-family: "Courgette", cursive;
      opacity: 0.8;
    }
  }

  &__button {
    font-weight: bolder;
    background-color: #faf9f6;
    padding: 5px 10px 5px 10px;
    border: 2px solid #052f11;
    border-radius: 8px;
    font-family: "Courgette", cursive;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
}
